*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header {
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #357ABD;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  
  .header h3 {
    margin-top: 0.5rem;
    font-weight: normal;
    font-size: 1.2rem;
    color: #e0f0ff;
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 0 20px;
    margin: 0%;
    z-index: 4;
  }
  
  .footer button {

    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
  }
  
  .footer button:hover {
    background-color: #666;
  }

  .relative-section {
    display: flex;        
  }
  
  .relative-section .box {
    width: 100vw;
    height: 150px;
    background-color: #4caf50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .relative-section .box:nth-child(2) {
    background-color: #2196f3;
  }

  
  /* SECCIÓN STICKY */
  .sticky-section {
    background-color: #ffe4b5;
    position: relative;
  }

  .sticky-header {
    height: 120px;
    position: sticky;
    background-color: #6144d6;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }


  .absolute-section{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: red;
    margin-bottom: 50px;
  }
 
  .capa1, .capa2, .capa3 {
    height: 200px;
    width: 270px;
    position: absolute;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    color: #065f46;
  }
  .capa1{
    background-color: aqua;
    left: 0px;
    z-index: 1;
  }
  .capa2{
    background-color: tomato;
    left: 180px;
    z-index: 2;
  }
  .capa3{
    background-color: lightgreen;
    left: 345px;
    z-index: 3;
  }
  